.auth-form {
    max-width: 540px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 20px 20px;
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
    visibility: visible;

    &--hidden {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        pointer-events: none;
        transform: translateY(-10px);
    }

    &__container {
        display: flex;
        background-color: white;
        flex-direction: column;
        padding: 32px 36px;
        gap: 36px;
    }

    &__fields {
        display: none;
        transform: translateY(10px);
        transition: opacity 0.3s ease, transform 0.3s ease;

        &--login {
            display: block;
            opacity: 1;
            transform: translateY(0);


        }

        &.auth-form__fields--active,
        &.active {
            display: block;
            opacity: 1;
            transform: translateY(0);
        }
    }

    &__fieldset {
        border: 1px solid #CDCFDE;
        border-radius: 12px;
        padding: 12px 14px;
        transition: box-shadow 0.2s, border-color 0.2s;
        display: flex;
        flex-direction: column;

        &:focus-within {
            border-color: #476BF0;
            box-shadow: 0 0 10px rgba(71, 107, 240, 0.3);
        }
    }

    &__legend {
        font-size: 14px;
        color: #003B46;
        padding: 0 5px;
    }

    &__input {
        border: none;
        outline: none;
        font-size: 16px;
        width: 100%;
    }

    &__link {
        display: flex;
        justify-content: center;
        font-size: 16px;
        color: black;
        cursor: pointer;

        &:hover {
            color: #476BF0;
        }
    }

    &__bottom {
        background-color: $color-green;
        padding: 36px 0;
        border-radius: 0 0 12px 12px;
        text-align: center;

        span {
            display: flex;
            gap: 10px;
            color: #fff;
            font-size: 14px;
            flex-direction: row;
            align-content: center;
            justify-content: center;
        }

        img {
            position: relative;
            top: -8px;
        }
    }
}

.input-field {
    margin-bottom: 30px;
}

.auth-wrapper-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 9999;
    overflow-y: auto;
    padding: 20px;

    &.active {
        display: flex;
        justify-content: center;
        align-items: flex-start;

        ~.auth.auth--side,
        ~.auth-form,
        .auth.auth--side,
        .auth-form {
            display: block;
        }

        .auth.auth--side {
            display: flex;
        }
    }
}

.auth-popup {
    padding: 0;
    border-radius: 12px;
    max-width: 540px;
    width: 90%;
    position: relative;
    transition: transform 0.25s ease, opacity 0.25s ease;
    margin: auto;
    min-height: min-content;

    .auth-wrapper-overlay.active & {
        transform: scale(1);
        opacity: 1;
    }
}

.auth.auth--side,
.auth-form {
    display: none;
}

body.no-scroll,
html.no-scroll {
    overflow: hidden !important;
    height: 100% !important;
    width: 100% !important;
    position: fixed !important;
}