.auth--side {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 auto;
}

.auth-card {
    width: 270px;
    height: 56px;
    background: #003B46;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    border-radius: 20px 20px 0 0;
    transition: all 0.25s ease;

    button {
        background: none;
        border: none;
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;
    }

    &.active {
        height: 70px;
        background: #07575B;
        z-index: 2;
    }
}