.background {
  background-color: $color-bg-body;
  width: calc(100% - 60px);   
  min-height: calc(100vh - 60px); 
  margin: 30px;              
  border-radius: 30px;
  box-shadow: 0 0 10px;
  padding: 20px;             
}
