.cart-empty {

    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;

    &__block {
        position: relative;
        min-height: 690px;
        max-width: 950px;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        margin: 0 auto;
        background-color: #fff;
    }

    &__text,
    &__title {
        font-size: 25px;
        margin: 20px;
    }

    &__image {
        margin-left: -30px;
    }
}



.icon-close-wrapper {
    width: 48px;
    height: 48px;
    background-color: white;
    box-shadow: 2px 2px 20px 0px rgba(16, 26, 59, 0.5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon-wrapper--absolute {
    position: absolute;
    top: 40px;
    right: 40px;
}

.icon-close {
    width: 20px;
    height: 20px;
    color: #fff;
    transform: scale(1.3);
}