.cart {
    display: none;
    position: fixed;
    top: 50px;
    right: 0;
    width: 580px;
    height: calc(100vh - 100px);
    background: #fff;
    z-index: 1000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 20px 0 0 20px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    height: 100%;
    width: 580px;
    border-radius: 130px 0 0 0;

    &--active {
        display: block;
        opacity: 1;
        visibility: visible;

    }

    display: flex;
    flex-direction: column;

    z-index: 9999;
    background-color: #fff;

    &__title {
        font-size: 45px;
    }

    &__main {
        flex-grow: 1;
        overflow-y: auto;
    }

    &__footer {
        padding: 20px;
        min-height: 250px;
    }

    &__left-arrow {
        transform: rotate(180deg);
        fill: white;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 52px 21px 52px 75px;
        border-bottom: 3px solid $color-teal-dark2;
    }

    &__footer {
        padding: 40px 60px 85px 40px;
        border-top: 3px solid $color-teal-dark2;
    }
}


.cart__btn {
    width: 48px;
    height: 48px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 2px 2px 20px rgba(16, 26, 59, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
}

.cart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 900;
    display: none;
}