.delivery-time {
  width: max-content;
  margin-right: auto;
  border-radius: 8px;
  overflow: hidden;
  font-family: sans-serif;
  background: #fff;

  &__toggle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;

    padding: 12px 16px;

    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #003B46;

    &:hover {
      background-color: #f3f3f3;
    }

    &:focus-visible {
      outline: 2px solid #66A5AD;
      outline-offset: 2px;
    }
  }

  &__options {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease;
    background: #f9f9f9;

    &-inner {
      overflow: hidden;
      padding: 0 16px;
    }

    label {
      display: block;
      padding: 8px 0;
      cursor: pointer;

      &:hover {
        color: #003B46;
      }
    }
  }

  &--open {
    .delivery-time__options {
      grid-template-rows: 1fr;
    }
  }
}
