.input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;

  &__fieldset {
    border: 1px solid #CDCFDE;
    border-radius: 8px;
    padding: 8px 10px;
    transition: box-shadow 0.2s, border-color 0.2s;

    &:focus-within {
      border-color: $color-button-focus;
      box-shadow: 0 0 3px $color-button-focus;
    }

    &:hover {
      border-color: $color-border;
      box-shadow: 0 0 3px $color-border;
    }
  }

  &__legend {
    font-size: 14px;
    color: $color-gray-text-secondary;
    background-color: #ffffff;
    padding: 0 4px;
    margin-left: 2px;
    line-height: 1.6;
  }

  &__input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    margin: 0 auto;
  }

  &--md {
    flex: 1 1 328px;
    max-width: 100%;

    .input-field__fieldset {
      width: 100%;
      height: 48px;
      display: flex;
      align-items: center;
    }

    .input-field__input {
      width: 100%;
      height: 100%;
      padding: 0 12px;
      box-sizing: border-box;
    }
  }
}

.input-field-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 20px;
}
