/* Блок login-help */
.login-help {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  margin-bottom: 184px;

  &.active {
    display: block;
  }

  &__wrapper {
    max-width: 450px;
    min-height: 316px;
    padding: 30px;
    background-color: #fff;
    border-radius: 12px;
    margin: 0 auto;
    position: relative;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  }

  &__title {
    display: flex;
    justify-content: center;
    padding: 32px 0;
    font-size: 24px;
    line-height: 28px;
    color: black;
  }

  &__controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__options {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 28px 52px;
    padding-left: 64px;
    border: 1px solid #CDCFDE;
    border-radius: 12px;
    margin-bottom: 28px;
    color: #1E222E;
  }

  &__option {
    display: flex;
    align-items: center;
    cursor: pointer;

    &-text {
      font-size: 16px;
      color: #1E222E;
    }

    &__radio {
      margin-right: 8px;
    }
  }

  &__icon-button {
    position: absolute;
    top: 0;
    left: -45px;
  }
}
