.order-page {
    &__title {
        margin-top: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 40px;
    }
}