.order-block {
  &__header {
    display: flex;
    justify-content: space-between;
    padding: 31px 48px;
    border-bottom: 3px solid $color-teal-dark2;

    &--column {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }

  &__content {
    max-height: 250px;
    overflow-y: auto;
    padding-right: 5px;
  }

  &__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
    color: #999999;
    fill: #999999;
    font-size: 16px;
  }

  &__title {
    font-size: 24px;
  }

  &--content {
    padding: 30px 35px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__textarea {
    width: 100%;
    height: 120px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    resize: none;
    font-family: inherit;
    font-size: 14px;
    line-height: 1.5;
    box-sizing: border-box;
    overflow-y: auto;
  }
}
