.password-reset {
  max-width: 580px;
  width: 100%;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #fff;
  position: relative;

  /* Центрирование по вертикали и горизонтали */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;

  &__field {
    max-width: 360px;
    width: 100%;
    margin: 0 auto;
  }

  &__wrapper {
    padding: 32px;
  }

  &__title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 24px;
    text-align: center;
    color: #1E222E;
  }

  &__text {
    margin-bottom: 14px;
  }
}
