.product-page {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    &__left {
        width: 500px;
        display: flex;
        flex-direction: column;
        gap: 40px;

        @media (max-width: 1024px) {
            width: 100%;
            gap: 20px;
        }
    }

    &__main-img-wrapper {
        width: 470px;
        height: 490px;
        border-radius: 10px;
        overflow: hidden;
        margin: 0 auto;
        padding: 25px;

        @media (max-width: 1024px) {
            width: 100%;
            padding: 15px;
            height: auto;
        }
    }

    &__main-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__info {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media (max-width: 1024px) {
            width: 100%;
        }
    }

    &__container {
        padding: 28px;
        border-radius: 15px;
    }

    &__title {
        font-size: 24px;
        font-weight: 600;
    }

    &__rating {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
    }

    &__purchase {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        padding: 28px;
        border-radius: 15px;
    }

    &__description {
        padding: 28px;
        border-radius: 15px;

        &-text {
            line-height: 1.5;
        }
    }
}

.products__grid--scroll {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;

    .product-card {
        flex: 0 0 auto;
        width: 280px;
    }
}


.swiper-wrapper {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex !important;
}

.swiper-slide {
    width: 270px;
}

.swiper-button-prev,
.swiper-button-next {
    color: #000;
}

ul.swiper-wrapper {
    display: flex !important;
}

ul li {
    display: list-item;
}