.products__grid {
  display: grid;
  grid-template-columns: repeat(3, 280px);
  row-gap: 20px;
  justify-content: center;
  margin-bottom: 30px;

  @media (max-width: 1300px) {
    grid-template-columns: repeat(2, 280px);
  }

  @media (max-width: 1000px) {
    grid-template-columns: 1fr;
  }
}

.product-card {
  width: 280px;
  height: 430px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: transform 0.2s, box-shadow 0.2s;

  &:hover,
  &:focus-within {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px $color-teal-dark, 0 4px 5px $color-teal-dark;
  }

  &:focus-within {
    outline: 2px solid #66A5AD;
    outline-offset: 2px;
  }

  &--skeleton {
    .skeleton-box {
      background-color: #E8F3F5;
      border-radius: 8px;
      position: relative;
      overflow: hidden;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
        animation: loading 1.5s infinite;
      }
    }

    &__img {
      width: 222px;
      height: 333px;
      margin: 0 auto;
      border-radius: 8px;
    }

    &__title {
      width: 230px;
      height: 30px;
      margin: 0 auto;
    }

    &__description {
      width: 230px;
      height: 40px;
      margin: 0 auto;
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 5px;

      &__price {
        width: 100px;
        height: 20px;
      }

      &__rating {
        width: 60px;
        height: 20px;
      }
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
    text-decoration: none;
    color: inherit;
  }

  &__img {
    width: 100%;
    height: 333px;
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
  }

  &__description {
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &>div {
      font-weight: 600;
    }

    &__price {
      color: #000;
    }

    &__rating {
      color: #f5a623; // цвет звезд
      font-size: 14px;
    }
  }
}

@keyframes loading {
  0% {
    left: -100%;
  }

  50% {
    left: 100%;
  }

  100% {
    left: 100%;
  }
}

.products__load-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 60px;
  gap: 10px;
  color: $color-teal-dark;
}