.related-products-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    margin-top: 20px;
}

.related-products {
    margin: 50px auto;
    padding: 20px 50px;

    &.shadow-box {
        background-color: #fff;
        border-radius: 15px;
    }

    &__title {
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    &__swiper {
        position: relative;
        padding: 10px 0;

        .swiper-slide.product-card {
            width: 250px;
            flex-shrink: 0;
            margin-right: 20px;
        }

        .swiper-button-prev,
        .swiper-button-next {
            color: #66A5AD;
        }
    }
}

.related-products-wrapper {

    .custom-prev,
    .custom-next {
        position: absolute;
        top: 50%;
        width: 40px;
        height: 40px;
        margin-top: -20px;
        z-index: 10;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }

    .custom-prev {
        left: -45px;
    }

    .custom-next {
        right: -45px;
    }
}

.cart-sidebar {
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
    transition: transform 0.3s ease, opacity 0.3s ease;

    &.is-open {
        opacity: 1;
        pointer-events: auto;
        transform: translateX(0);
    }
}

.swiper-slide.product-card {
    width: 250px;
    flex-shrink: 0;
}